SCG_CLIENT_GUID=@SCG_CLIENT_GUID@
TELOXIDE_TOKEN=@TELOXIDE_TOKEN@
TG_SECRET=@TG_SECRET@
VK_TOKEN=@VK_TOKEN@
VK_GROUP_ID=@VK_GROUP_ID@
VK_CONFIRMATION_STRING=@VK_CONFIRMATION_STRING@
VK_SECRET=@VK_SECRET@
