test:
  image: "golang:1.15.4-buster"
  stage: test
  script:
    - go test ./...
deploy:
  stage: deploy
  image: "docker:19.03.12"
  before_script:
    - apk add curl
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
    IMAGE_NAME: "$DOCKER_IMAGE_TAG:$CI_JOB_ID.$CI_COMMIT_SHORT_SHA"
  services:
    - docker:19.03.12-dind
  script:
    - docker build . -t $DOCKER_IMAGE_TAG -t $IMAGE_NAME
    - docker login $REGISTRY_NAME -u $DOCKER_USER -p $DOCKER_PASSWORD
    - docker push $IMAGE_NAME
    - docker push $DOCKER_IMAGE_TAG
    - curl -X POST -H "Authorization: Bearer $GOCD_ACCESS_TOKEN" -d '{"repository_url": "https://gitlab.com/flygrounder/go-mtg-vk"}' -H "Accept: application/vnd.go.cd.v2+json" -H "Content-Type: application/json" http://165.22.85.27:8153/go/api/admin/materials/git/notify
  only:
    - master
